<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myproject"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 个推权限 -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="getui.permission.GetuiService.com.example.myproject" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="getui.permission.GetuiService.com.example.myproject"
        android:protectionLevel="normal" >
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.chehui.activity.LoadingActivity"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chehui.activity.LoginActivity"
            android:launchMode="singleInstance" >
        </activity>
        <activity android:name="com.chehui.activity.Reg0Activity" >
        </activity>
        <activity android:name="com.chehui.activity.ViewPager1Activity" >
        </activity>
        <activity android:name="com.chehui.activity.ViewPager2Activity" >
        </activity>
        <activity android:name="com.chehui.activity.ViewPager3Activity" >
        </activity>
        <activity android:name="com.chehui.activity.Reg1Activity" >
        </activity>
        <activity android:name="com.chehui.activity.Reg2Activity" >
        </activity>
        <activity android:name="com.chehui.activity.Reg3Activity" >
        </activity>
        <activity android:name="com.chehui.activity.Reg4Activity" >
        </activity>
        <activity android:name="com.chehui.activity.MainActivity" >
        </activity>
        <activity android:name="com.chehui.activity.AboutActivity" >
        </activity>
        <activity android:name="com.chehui.activity.AddAccountActivity" >
        </activity>
        <activity android:name="com.chehui.activity.FeedBackActivity" >
        </activity>
        <activity android:name="com.chehui.activity.AccountManagerActivity" >
        </activity>
        <activity android:name="com.chehui.activity.MessageSetActivity" >
        </activity>
        <activity android:name="com.chehui.activity.OrderDetailActivity" >
        </activity>
        <activity android:name="com.chehui.activity.OrderDetailActivity2" >
        </activity>
        <activity android:name="com.chehui.activity.RabateDetailActivity" >
        </activity>
        <activity android:name="com.chehui.activity.OrderCheckDetailActivity" >
        </activity>
        <activity android:name="com.chehui.activity.TabhostConsumeActivity" >
        </activity>
        <activity android:name="com.chehui.activity.TabhostPayActivity" >
        </activity>
        <activity android:name="com.chehui.activity.ViewPageOneActivity" >
        </activity>
        <activity android:name="com.chehui.activity.ViewPageTwoActivity" >
        </activity>
        <activity android:name="com.chehui.activity.ViewPageThreeActivity" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityManagerAccountPersion" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityManagerAccountWallet1" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityManagerAccountWallet2" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityManagerAccountWallet3" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityManagerAccountWallet4" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityManagerAccountWallet5" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityManagerAccountWallet6" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityManagerAccountWallet7" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityManagerAccountAddBank1" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityManagerAccountAddBank2" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityManagerAccountAddBank3" >
        </activity>
        <activity android:name="com.chehui.activity.XunJiaActivity" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityCertifiedMerchants" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityOrderDetailOk" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityCertifiedMerchants2" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityCertifiedMerchants3" >
        </activity>
        <activity android:name="com.chehui.activity.ActivityCertifiedMerchants4" >
        </activity>
        <!-- 个推SDK配置开始 -->


        <!-- 配置第三方应用参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="jxE7vNWTQW7IYWgLV35VN6" /> <!-- 替换为第三方应用的APPID -->
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="bPbXpXRZTE9OcqLDe7anb6" /> <!-- 替换为第三方应用的APPKEY -->
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="KYGVuMm2499SFu3jXFFWd7" /> <!-- 替换为第三方应用的APPSECRET -->
        <meta-data
            android:name="PUSH_GROUPID"
            android:value="" />
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" >
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- 配置弹框activity -->
        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>

                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改 -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- 替换为android:name="com.igexin.sdk.action.第三方的appId" -->
                <action android:name="com.igexin.sdk.action.jxE7vNWTQW7IYWgLV35VN6" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />
        <!-- 个推download模块配置 -->
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.example.myproject"
            android:process=":pushservice" /> <!-- 替换为downloads.第三方包名 -->

    </application>

</manifest>